@import "../base/colors";
@import "../base/break-points";
@import "../base/custom";


.container {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: .5px solid $color-shadow;
}

.enterRoomInput, .enterSlidesInput {
  input[type=text] {
    width: 80%; 
    margin-bottom: 0;

    &:focus {
      outline: 0;
    }

    &:valid {
      outline: 0;
      text-transform: uppercase;
      
    }
  }
}

.enterRoom, .enterDelivery {
  position: relative;
  
  float: right;
  color: $color-shadow;

  // Mobile
  @media screen and (min-width: $break-phone-min) {
    top: -16px;
    font-size: 2.6em;    
    line-height: 0.2em;
  }
  // Desktop
  @media screen and (min-width: $break-computer-min) {
    top: -16px;
    font-size: 2.8em;    
    line-height: 0.2em;
  }
}

.enterRoom, .enterDelivery {
  cursor: not-allowed;
  .validRoom, .validDelivery {  
    color: $light-green;
    cursor: pointer;
  }
}

// .invalidRoom {
//  color: $light-green; 
// }





// input[type=text]:valid {
//   outline: 0;
//   text-transform: uppercase;
  
  
// }

// input[type=text]:valid .enterRoom {
//   color: green;
// }