@import "../base/custom";

.responded {
  margin: 10px;
  background-color: white;
  text-align: center;
  border-radius: 5px;

  padding: .8em 1em;
  border-radius: 3px;

  font-size: .8em;
  text-transform: uppercase;
}
