@import "../base/custom";

.details {
  margin-top: 10px;
}

.askedQuestion {
  padding: .8em 1em;
  border-radius: 3px;

  font-size: .7em;
  text-transform: uppercase;

  margin: .5em;
  float: right;
}
