@import "../base/break-points";
@import "../base/custom";
@import "../base/colors";

.barWrapper {
  height: 100%;
    
  width: 80% !important;
  margin: 0 auto;
  margin-bottom: 2em;
  // height: 100% !important;
  
  //Mobile
  @media screen and (min-width: $break-phone-min) {
    
  }
  // Desktop
  @media screen and (min-width: $break-phone-max) {
   
  }


}
