@import "../base/colors";
@import "../base/break-points";

@import "../base/custom";

.info {
  font-size: .9em;
}

.slideChangeButton {
  color: $turqoise;
  font-size: 3em;
  text-transform: uppercase;
  float:right;
  margin-left: 2em;
}