@import "../base/colors";
@import "../base/break-points";

@import "../base/custom";

.info {
  font-size: .9em;
  color: $turqoise;
  margin-right: 1.2em;
  strong {
    color: $black;
  }
}

.slideChangeButtonsWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.slideChangeButtonLeft {
  color: $black;
  font-size: 3em;
  text-transform: uppercase;
  float:left;
  opacity: .6;

  &:hover {
    opacity: .8;
    color: $turqoise;
  }
}

.slideChangeButtonRight {
  color: $black;
  font-size: 3em;
  text-transform: uppercase;
  float:right;
  opacity: .6;

  &:hover {
    opacity: .8;
    color: $turqoise;
  }
}

.secondaryButton {
  cursor: pointer;
}
