@import "../base/colors";
@import "../base/break-points";

.footer {
  position: fixed;
  bottom: 0;
  
  width: 100%;
  height: 32px;

  background-color: $richard-white;
  border-top: .5px solid $white;
  color: $dark-grey;

  
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;

  // Mobile
  @media screen and (min-width: $break-phone-min) {
    font-size: .6em;
  }

  // Desktop
  @media screen and (min-width: $break-computer-min) {
    font-size: .7em;
  }
  
}

.content {
  padding: 10px 20px;
  opacity: .5;
}

.content:hover {
  opacity: .7;
}

.github {
  margin-left: 5px;
}