@import "../base/colors";
@import "../base/break-points";


.logo, .menu {
  
  height: 50px;
  line-height: 50px;  
}


.logo {
  
  display: inline-block;
  vertical-align: middle;

  // Mobile
  @media screen and (min-width: $break-phone-min) {
    font-size: 1.5em;
  }
  // Desktop
  @media screen and (min-width: $break-phone-max) {
    font-size: 2.5em;
  }
}

.menu {
  
  position: absolute;
  left: 20px;
  top: 0px;
  opacity: .8;
 
  // Desktop
  @media screen and (min-width: $break-phone-max) {
    display: none;
  }

  i:hover {
    opacity: 1;
  }
}

.login {
  font-size: 1.5em;
  position: absolute;
  right: 20px;
  top: 0px;
  opacity: .5;
 
  // Desktop
  @media screen and (min-width: $break-phone-max) {
    display: none;
  }

  &:hover {
    opacity: 1;
  }
}
