@import "../base/break-points";
@import "../base/custom";
@import "../base/colors";

.pieWrapper {

  height: 100%;
    
  // height: 100% !important;
  
  svg {
    margin-top: 2em;
    width: 100% !important; 
  }
  //Mobile
  @media screen and (min-width: $break-phone-min) {
    
  }
  // Desktop
  @media screen and (min-width: $break-phone-max) {
    
  }

  
}
