@import "../base/colors";
@import "../base/break-points";

@import "../base/custom";

.questionIcons {
  float: right;
}

.icons {
  font-size: 2em;
  color: $black;
  opacity: .6;
}

.icons:hover {
  opacity: .8;
}