@import "../base/colors";
@import "../base/break-points";

@import "../base/custom";

.visWrapper {
  width: 80%;
  
  margin: 0 auto;

 //Mobile
  @media screen and (min-width: $break-phone-min) {
    margin: 0 auto;
    height: auto !important;
  }
  // Desktop
  @media screen and (min-width: $break-phone-max) {
    margin: 4em auto;
    height: auto !important;
  }
}

.secondaryButton {
  cursor: pointer;
}