# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed


# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Dist build folder
dist/


# Server config
server/server.config.js


# Yarn
yarn.lock
.yarnclean

# private 
private/

#.DS_Store
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
