// Base
@import "typography";

// Grid
@import "grid";

@import "colors";

body {
  display: block;
  background-color: $off-white; 
}

a {
  color: $black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}



input[type=text] {
  background: none;
  font-size: 1em;
  padding: 5px;
  
  border: none;
  width: 80%;
  // text-transform: uppercase;
  
  // width: 80%;
}

input[type=text]:focus {
  outline: 0;
}

input[type=text]:valid {
  outline: 0;
  text-transform: uppercase;
}


button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}