// Base
@import "typography";

// Grid
@import "grid";

@import "colors";

@import "break-points";

body {
  display: block;
  background-color: $off-white; 
  min-width: 320px !important;
}

a {
  color: $black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}


input[type=text] {
  
  background: none;
  font-size: 1em;
  padding: 5px;
  
  border: none;
  width: 80%;
}


button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

nav {
  background-color: $white;
  box-shadow:0px 0px 1px $color-shadow;
  position: fixed;
  width: 100%;
  top: 0;

  height: 50px;
  line-height: 50px;  
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid $ryan-white;

  // Mobile
  @media screen and (min-width: $break-phone-min) {
    
  }
  // Desktop
  @media screen and (min-width: $break-phone-max) {
    padding: 10px 0;
  }
  
}

strong {
  font-weight: bold;
}

